<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>



<body class="bg-white bg-cover bg-center flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-80">
        <h2 class="text-2xl font-bold text-center mb-6">Iniciar sesión </h2>
        
        <form action="/login_val" method="POST">
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-medium mb-2">Correo electrónico </label>
                <input type="email" id="email" name="email" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-medium mb-2">Contraseña</label>
                <input type="password" id="password" name="password" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-200">Iniciar Sesión</button>
        </form>
        
        <p class="text-center text-gray-600 mt-6"> ¿Nuevo?
            <a href="/register" class="text-blue-500 hover:underline">Crear una cuenta</a>
        
        </p>
    </div>
</body>

<script src="/js/message.js"></script>

</html>
</html>