<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID del Maestro</title>
</head>
<body>
    <h1>El ID del maestro es: <%= id %></h1>
</body>
</html>